body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.background {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.logo {
    position: absolute;
    top: 0px;
    left: 5px;
    width: 100px; /* Замініть на бажаний розмір */
    height: auto;
    z-index: 1;
}

#background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}

.overlay {
   position: fixed;
    top: 50%; /* Розміщення по вертикалі по центру */
    left: 50%; /* Розміщення по горизонталі по центру */
    transform: translate(-50%, -50%);
    width: 88%;
    height: 88%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(8px);
    z-index: 1;
}

.header {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 2;
}

.input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1300px; /* Змініть ширину за потребою */
    margin: 0 auto; /* Розміщення по центру */
}

.form-control {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.search-button {
    background-color: #2C3E50; /* Колір фону кнопки */
    color: #fff; /* Колір тексту */
    border: none;
    padding: 5px 5px; /* Відступи */
    font-size: 20px; /* Розмір шрифту */
    border-radius: 50px; /* Закруглені кути */
    cursor: pointer;
    margin-left: 10px; /* Додатковий відступ від лівого краю поля вводу */
    transition: background-color 0.3s ease; /* Плавний перехід кольору фону */
}

.search-button:hover {
    background-color: #1F2C38; /* Колір фону при наведенні */
}


.content {
    position: absolute;
    top: 60%; /* Збільште це значення, якщо потрібно */
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 3;
}

.openFormButton {
    display: inline-block;
    padding: 5px 5px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    background-color: #3498db;
    color: #fff;
    border-radius: 50px;
    border: 2px solid #2980b9;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.openFormButton:hover {
    background-color: #2C3E50;
    color: #fff;
}

.stylesheet {
}

