<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameBlog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}?v=2" type="image/x-icon">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <header class="navbar">
        <div class="nav-container">
            <a href="/" class="logo-link">
                <img src="{{ url_for('static', filename='your_logo.png') }}" alt="Логотип" class="logo">
            </a>
            <div class="search-container">
                <input type="text" id="search" name="search" class="form-control" placeholder="Search the world's largest fan vlog platform" onclick="clearPlaceholder()" onblur="restorePlaceholder()">
                <button type="button" class="search-button">&#128269;</button>
            </div>
            <nav>
                <a href="{{ url_for('load_registration_form') }}" class="openFormButton">+</a>
            </nav>
        </div>
    </header>

    <div class="background">
        <video autoplay muted loop id="background-video">
            <source src="{{ url_for('static', filename='your_video.mp4') }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="overlay" id="publication-overlay">
            <!-- Тут будуть відображатися нові публікації -->
        </div>
        <div class="content">
            <h2>Найновіші ігрові новини</h2>
        </div>
    </div>
</body>
</html>

